In [2]:
# Imports
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, recall_score, roc_auc_score
from sklearn.metrics import confusion_matrix, plot_confusion_matrix, mean_squared_error

In [4]:
!ls Data

Terry_Stops.csv

In [8]:
df = pd.read_csv("data/Terry_Stops.csv")

df.head(2)

,Subject Age Group,Subject ID,GO / SC Num,Terry Stop ID,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,Officer Race,...,Reported Time,Initial Call Type,Final Call Type,Call Type,Officer Squad,Arrest Flag,Frisk Flag,Precinct,Sector,Beat
0,-,-1,20140000120677,92317,Arrest,None,7500,1984,M,Black or African American,...,11:32:00.0000000,-,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2
1,-,-1,20150000001463,28806,Field Contact,None,5670,1965,M,White,...,07:59:00.0000000,-,-,-,NaN,N,N,-,-,-

In [9]:
df.columns

Index(['Subject Age Group', 'Subject ID', 'GO / SC Num', 'Terry Stop ID',
       'Stop Resolution', 'Weapon Type', 'Officer ID', 'Officer YOB',
       'Officer Gender', 'Officer Race', 'Subject Perceived Race',
       'Subject Perceived Gender', 'Reported Date', 'Reported Time',
       'Initial Call Type', 'Final Call Type', 'Call Type', 'Officer Squad',
       'Arrest Flag', 'Frisk Flag', 'Precinct', 'Sector', 'Beat'],
      dtype='object')

In [10]:
df['Stop Resolution'].value_counts()

Field Contact               21983
Offense Report              16449
Arrest                      12866
Referred for Prosecution      728
Citation / Infraction         189
Name: Stop Resolution, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52215 entries, 0 to 52214
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Subject Age Group         52215 non-null  object
 1   Subject ID                52215 non-null  int64
 2   GO / SC Num               52215 non-null  int64
 3   Terry Stop ID             52215 non-null  int64
 4   Stop Resolution           52215 non-null  object
 5   Weapon Type               52215 non-null  object
 6   Officer ID                52215 non-null  object
 7   Officer YOB               52215 non-null  int64
 8   Officer Gender            52215 non-null  object
 9   Officer Race              52215 non-null  object
 10  Subject Perceived Race    52215 non-null  object
 11  Subject Perceived Gender  52215 non-null  object
 12  Reported Date             52215 non-null  object
 13  Reported Time             52215 non-null  object
 14  Initial Call Type         52215 non-null  object
 15  Final Call Type           52215 non-null  object
 16  Call Type                 52215 non-null  object
 17  Officer Squad             51729 non-null  object
 18  Arrest Flag               52215 non-null  object
 19  Frisk Flag                52215 non-null  object
 20  Precinct                  52215 non-null  object
 21  Sector                    52215 non-null  object
 22  Beat                      52215 non-null  object
dtypes: int64(4), object(19)
memory usage: 9.2+ MB